.login{
    background: white;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}

.login > .input{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > .input input{
    border: 1px solid #eee;
    margin-top: 1rem;
    width: 15rem;
    height: 30px;
    text-align: center;
    font-size: 1rem;
}

.login > .buttonL{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.login > .buttonL > .loginB,.registerB{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.login > .buttonL div:hover{
    filter: brightness(105%);
}

.login > .buttonL div:active{
    filter: brightness(95%);
}

.login > .buttonL > div + a{
    margin-top: 1rem;
}

.login > .buttonL .loginB{
    background: #8ce99a;
}
.login > .buttonL .registerB{
    background: #f783ac;
}
