.menu{
    display: flex;
    width: 100vw;
    text-align: center;
}
.menu > div{
    flex-grow: 1;
    background: white;
    height: 50px;
    font-size: 2rem;
    padding-top: 7px;
    cursor: pointer;
}

.menu .hr{
    border-left: 3px solid #EEE;
}

.menu > div.selected{
    border-bottom: 7px solid #ff6b6b;
}