.header{
    background: #69db7c;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
}

.header .left{
    flex-grow: 1;
}

.header .logo{
    flex-grow: 1;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.header .right {
    flex-grow: 1;
}

.header .right .log-out{
    font-size: 24px;
    color: white;
    width: 0;
}