.loginTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.loginTemplate .loginT{
    margin-top: 10vh;
}

.loginTemplate .des{
    margin-top: 1rem;
    margin-bottom: -3rem;
    color: gray;
}

@media (max-height: 500px){
    .loginTemplate .loginT{
        margin-top: 50vh;
    }
}