.registerTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.registerTemplate .registerT{
    margin-top: 15vh;
}
.registerTemplate .dis{
    margin-top: 1rem;
    margin-bottom: -3rem;
    color: gray;
}

@media (max-height: 500px){
    .registerTemplate .registerT{
        margin-top: 60vh;
    }
}